<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Zimolo</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/thumbnail">Thumbnail</a></li>
        <li><a href="/dash">Dash</a></li>
        <li><a href="/test">Test</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="align: right">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
	
</div>
</div>
</nav>


<div class="container-fluid" style="margin-top: 90px;">
    <div class="row" style="height: 600px; text-align: center;">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12" style="height: 100px">
                            <p>Hello</p>
                        </div>
                    </div>
                    <div class="row">
                    <ul class="nav nav-tabs">
                        <li class="active col-md-3">
                            <a href="#"><div class="glyphicon glyphicon-star"></div></a>
                        </li>
                        <li class="col-md-3">
                            <a href="#"><div class="glyphicon glyphicon-envelop"></div></a>
                        </li>
                        <li class="col-md-3">
                            <a href="#"><div class="glyphicon glyphicon-paperclip"></div></a>
                        </li>
                        <li class="col-md-3">
                            <a href="#"><div class="glyphicon glyphicon-tasks"></div></a>
                        </li>
                    </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-group" style="height: 300px; overflow-y: auto;">
                                <li class="list-group-item">message</li>
                                <li class="list-group-item">message</li>
                                <li class="list-group-item">message</li>
                                <li class="list-group-item">message</li>
                                <li class="list-group-item">message</li>
                                <li class="list-group-item">message</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-3">
                            <p>stream</p>
                        </div>
                        <div class="col-md-3">
                            <p>stream</p>
                        </div>
                        <div class="col-md-3">
                            <p>stream</p>
                        </div>
                        <div class="col-md-3">
                            <p>stream</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>